.container {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100svh;
  background: var(--white);
  flex-direction: column;
  color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: url(/assets/Bg-Bottom.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  border-radius: 10px;
  background-color: #535353;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

.txt {
  font-family: "Anta";
  font-size: 0.9em;
  padding-top: 1em;
}

@keyframes scale-up4 {
  20% {
    background-color: var(--black);
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
