.modalBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed; /* Change to fixed */
  z-index: 9999; /* Increase the z-index to ensure it appears over all content */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.651);
}

.modalContent {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  padding: 10vh !important;
  padding-inline: 10vw !important;
  margin: 1rem !important;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  overflow-wrap: anywhere !important;
  text-transform: capitalize;
  position: relative; /* Ensure the content is positioned relative to its parent */
  z-index: 99999; /* Increase the z-index to ensure it appears over all content */
}
.modalContent button {
  margin-top: 7vh;
  padding: 1rem;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  background: var(--white);
  color: var(--black);
  transition: all 0.2s ease-in-out;
}

.modalContent input {
  width: 60vw;
  font-size: 1rem;
  background-color: #ffffff00;
  border: #ffffff00;
  padding: 1%;
  border-bottom: var(--white) solid;
  margin-top: 5vh;
  color: var(--white);
  font-weight: bolder;
  font-family: "Montserrat";
  font-size: 2rem;
}

.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--black);
}

.main input {
  width: 60vw;
  font-size: 1rem;
  background-color: #00000000;
  border: #ffffff00;
  padding: 1%;
  border-bottom: #0000007a solid;
  margin-top: 5vh;
  color: var(--black);
  font-weight: bolder;
  font-family: "Montserrat";
}

.main button {
  margin-top: 7vh;
  padding: 1rem;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  background: var(--black);
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

.main button:hover {
  -webkit-box-shadow: 0px 0px 50px 1px var(--black);
  -moz-box-shadow: 0px 0px 50px 1px var(--black);
  box-shadow: 0px 0px 50px 1px var(--black);
}

.content {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--black);
}

.content h1 {
  margin-left: 2rem;
  margin-top: 2rem;
}

.section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem;
  gap: 1rem;
}

.numbersSec {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  text-transform: capitalize;
}

.numbersSec div {
  display: flex;
  flex-direction: column;
  color: var(--black);
  flex-grow: 1;
  align-items: first baseline;
  justify-content: space-evenly;
}

.section div {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
  flex-grow: 1;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  margin-top: 7vh;
  margin-bottom: 2vh;
  margin-inline: 7vw;
  padding: 1rem;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  background: var(--black);
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

.button:hover {
  -webkit-box-shadow: 0px 0px 50px 1px var(--black);
  -moz-box-shadow: 0px 0px 50px 1px var(--black);
  box-shadow: 0px 0px 50px 1px var(--black);
}

.section div span {
  font-size: 4rem;
}

.Table {
  margin-inline: 1.5rem;
}

.Table table {
  margin-top: 7vh;
  border-collapse: collapse !important;
  width: 100vw !important;
}

.Table table,
.Table th,
.Table td {
  border: 1px var(--black) solid !important;
  overflow-wrap: anywhere !important;
}

.Table caption {
  font-family: "Montserrat";
  font-size: 1.2rem !important;
  text-align: center;
  font-size: 1em;
  margin-bottom: 1vh;
}

.Table th {
  border: 1px solid var(--white);
  padding: 0.3em;
}

.Table td {
  border: 1px solid var(--white);
  padding: 0.3em;
  text-transform: capitalize;
}

.Table button {
  width: 100% !important;
  height: 100% !important;
  padding: 0.5rem;
  font-family: "Montserrat";
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  background: var(--black);
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

.Table button:hover {
  -webkit-box-shadow: 0px 0px 50px 1px var(--black);
  -moz-box-shadow: 0px 0px 50px 1px var(--black);
  box-shadow: 0px 0px 50px 1px var(--black);
}

.results {
  width: 100vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--black);
}

.results input {
  background-color: #ffffff00;
  border: #ffffff00;
  border-bottom: rgba(0, 0, 0, 0.404) dotted;
  color: var(--black);
  font-weight: bolder;
  font-family: "Montserrat";
  width: 100%;
}

.results button {
  width: 40vw !important;
  height: 100% !important;
  padding: 0.5rem;
  font-family: "Montserrat";
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  background: var(--black);
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

.results button:hover {
  -webkit-box-shadow: 0px 0px 50px 1px var(--black);
  -moz-box-shadow: 0px 0px 50px 1px var(--black);
  box-shadow: 0px 0px 50px 1px var(--black);
}

.btngrp {
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
  margin-top: 2vh;
  flex-wrap: wrap;
}

.selectSection {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--black);
}

.selectSection select {
  width: 60vw;
  font-size: 1rem;
  background-color: #00000000;
  border: #ffffff00;
  padding: 1%;
  border-bottom: #0000007a solid;
  margin-top: 5vh;
  color: var(--black);
  font-weight: bolder;
  font-family: "Montserrat";
}

.selectSection button {
  margin-top: 7vh;
  padding: 1rem;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  background: var(--black);
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

.selectSection button:hover {
  -webkit-box-shadow: 0px 0px 50px 1px var(--black);
  -moz-box-shadow: 0px 0px 50px 1px var(--black);
  box-shadow: 0px 0px 50px 1px var(--black);
}

.edit {
  color: var(--black);
  cursor: pointer;
  background-color: red;
  width: 25%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 1rem;
}

.flowBtn {
  width: 10vw;
  height: 10vh;
  font-size: larger;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.89);
}

.flowBtn:hover {
  background-color: rgb(0, 0, 0);
  -webkit-box-shadow: 0px 0px 50px 1px var(--black);
  -moz-box-shadow: 0px 0px 50px 1px var(--black);
  box-shadow: 0px 0px 50px 1px var(--black);
}